@import '../assets/stylesheets/00_reset.scss';
@import '../assets/stylesheets/01_navbar.scss';
.body{
    font-family: sans-serif ;
}
h2{
    font-family: sans-serif ;
}

.title{
    font-family: sans-serif;
    letter-spacing: 4px;
}
.main-middle{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.main-container{
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    height: 100vh;
}
.feeds-container{
    display:grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px;
    height: 300px;
    
}
.station-details{
    height: 300px;
    width: 600px;
    border: 1px rgb(196, 196, 196) solid;
    // background-color: rgb(140, 255, 236);
    border-radius: 5px;
    margin-top: 10px;
}
.line-icon{
    height: 40px;
    width: 40px;
    margin: 5px;
    transition: .2s;
    transition-timing-function: ease-in-out;
    -webkit-transition: .2s;
    -webkit-transition-timing-function: ease-in-out;
}
.line-icon:hover{
    opacity: .7;
    cursor: pointer;
}

.sidebar {
    width: 500px;
    min-width: 280px;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px rgb(196, 196, 196) solid;
    border-radius: 5px;
    min-height: 600px;
    padding: 10px;
    margin:20px;
    display: block;
    color: gray;
    overflow-y: scroll;
    img{
        margin-bottom: 15px;
        padding-right: 180px;
        padding-bottom: 10px;
        padding-top: 0px;
        border-bottom: 1px rgba(170, 170, 170, 0.4) solid;
    }
    h2, h3{
        padding: 5px;
        color: black;
        
    }
    h2{
        text-align: center;
    }
    li{
        margin: 10px;
        
    }
}
.right{
    padding-left: 20px;
}
.station-details{
display: block;
}
.train-animation{
    animation: updated 3s 1;
}
.station-select-btn{
    color: gray;
    text-align: left;
    transition-timing-function: ease-in-out;
    -webkit-transition: .3s;
    -webkit-transition-timing-function: ease-in-out;
}

.station-select-btn:hover{
    color: rgb(71, 161, 218);
    opacity: .7;
    cursor: pointer;
}
.row{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.col{
    font-family: sans-serif;
    display: block;
    text-align: center;
    h2, h3{
        padding: 5px;
        color: black;
        
    }
    li{
    margin: 15px;
    }
    
    height: 100%;
    padding: 10px;
    width: 50%;
}

@keyframes updated{
    0% {color: rgb(247, 64, 64);}
    75% {color: rgb(247, 64, 64);}
    
    100% {color: gray;}
}

